body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.accordion-container {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.accordion-item{
    width: 100%;
}
.accordion-header {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.accordion-header:hover {
    background-color: #2980b9;
}

.accordion-content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: max-height 0.5s ease;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
